Django==5.2.6
python-dotenv==1.2.1
dj-database-url==3.1.2
whitenoise==6.12.0
gunicorn==26.0.0
pandas==2.2.3
numpy==2.2.6
scipy==1.17.1
scikit-learn==1.5.2
pillow==10.4.0
tqdm==4.67.1
imageio-ffmpeg==0.6.0
moviepy==2.2.1
opencv-python==4.12.0.88
librosa==0.11.0
scenedetect==0.6.7.1
tensorflow==2.20.0
torch==2.8.0
torchvision==0.23.0
open_clip_torch==3.2.0
transformers==4.56.2
faster-whisper==1.2.0
ctranslate2==4.6.0
django-ratelimit==4.1.0
